html,
body {
  height: 100%;
}

html {
  background-color: #fff;
  font: 400 16px/1.4 'Arial', 'Helvetica', sans-serif;
  color: #111;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


